body {
  background-color: #33313B;
  margin: 0;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-size: 1.25rem;
  color: #F6F5F5;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #4592AF;
  line-height: 2;
}

h2 {
  font-family: 'Abel', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #4592AF;
  line-height: 2;
}

h3 {
  font-family: 'Abel', sans-serif;
  color: #4592AF;
}

hr {
  border: none;
  border-top-style: dotted;
  border-top-width: 15px;
  width: 15%;
  color: #E3C4A8;
  margin-top: 50px
}

a{
  color: #4592AF;
  text-decoration: none;
  font-family: 'PT Serif', serif;
  margin: 0 20px
}

a:hover{
  color: #EAF6F6;
}

.top-container {
  background-color: #B7FBFF;
  padding-top: 100px;
}

.top-cloud {
  Position: absolute;
  right: 300px;
  top: 100px;
}

.bottom-cloud {
  position: Absolute;
  left: 250px;
  top: 250px;
}

.tropical-beach {
  padding-top: 100px;
  width: 75%;
}

.profile-picture {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 50px 0 auto 0;
}

.intro{
  width: 30%;
  margin: auto;
  line-height: 2;
}

.skill-row{
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.graphic-design{
  position: relative;
  width: 20%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.web-building{
  position: relative;
  width: 20%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.CSS-image{
  position: relative;
  width: 20%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.computer-image{
  position: relative;
  width: 20%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.skills {
  background-color: #33313B;
  width: 50%;
  margin: auto;
}

.contact-me{
  width: 50%;
  margin: auto;
}

.mail-image{
  position: relative;
  height: 25%;
  width: 25%;
  border-radius: 50%;
  margin: 50px 0 0 0
}

.myButton-contactme {
	-moz-box-shadow: 0 1px 0 0 #f0f7fa;
	-webkit-box-shadow: 0 1px 0 0 #f0f7fa;
	box-shadow: 0 1px 0 0 #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'PT Serif', serif;
	font-size:27px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0 0 0 #5b6178;
  margin: 25px 0 25px 0
}
.myButton-contactme:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.myButton-contactme:active {
	position:relative;
	top:1px;
}

.bottom-container{
  background-color: #393E46;
  padding: 50px 0 20px 0
}

.copyright{
  font-size: 1rem;
  padding: 30px 0 30px 0
}


/********* contact info ************/

.myButton-submit {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:27px;
	font-weight:bold;
	padding:12px 34px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton-submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.myButton-submit:active {
	position:relative;
	top:1px;
}
